.leaderboard-page{

padding:40px;

display:flex;

flex-direction:column;

gap:30px;

}



.leaderboard-header h1{

font-size:48px;

color:white;

}



.leaderboard-header p{

color:#94A3B8;

font-size:18px;

}





.leaderboard-card{

background:#111827;

border:1px solid #1E293B;

border-radius:20px;

padding:25px;

overflow-x:auto;

}





table{

width:100%;

border-collapse:collapse;

}





th{

text-align:left;

padding:18px;

color:#94A3B8;

}





td{

padding:18px;

border-top:1px solid #1E293B;

color:#E2E8F0;

}





tbody tr:hover{

background:#172033;

}