.practice-page{

padding:40px;

display:flex;

flex-direction:column;

gap:30px;

}


.practice-header h1{

font-size:48px;

color:white;

}


.practice-header p{

color:#94A3B8;

font-size:18px;

}


.practice-grid{

display:grid;

grid-template-columns:2fr 1fr;

gap:25px;

}


.practice-main,
.practice-side{

display:flex;

flex-direction:column;

gap:25px;

}


@media(max-width:1000px){

.practice-grid{

grid-template-columns:1fr;

}

}