.profile-page{

padding:40px;

display:flex;

flex-direction:column;

gap:30px;

}


.profile-grid{

display:grid;

grid-template-columns:2fr 1fr;

gap:25px;

}


.profile-left,
.profile-right{

display:flex;

flex-direction:column;

gap:25px;

}



@media(max-width:1000px){

.profile-grid{

grid-template-columns:1fr;

}

}