.submission-card{

background:#111827;

border:1px solid #1E293B;

border-radius:18px;

padding:25px;

overflow-x:auto;

}


table{

width:100%;

border-collapse:collapse;

}


th{

text-align:left;

padding:16px;

color:#94A3B8;

font-size:14px;

}


td{

padding:16px;

border-top:1px solid #1E293B;

color:#E2E8F0;

}


tr:hover{

background:#172033;

}