.admin-stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}


.admin-stat-card{

background:#111827;

border:1px solid #1E293B;

border-radius:18px;

padding:25px;

}


.admin-stat-card h2{

font-size:35px;

color:white;

}


.admin-stat-card p{

color:#94A3B8;

}



@media(max-width:900px){

.admin-stats{

grid-template-columns:repeat(2,1fr);

}

}