.badge-card{

background:#111827;

border:1px solid #1E293B;

border-radius:18px;

padding:25px;

}


.progress-bar{

height:10px;

background:#1E293B;

border-radius:20px;

overflow:hidden;

}


.progress-bar div{

height:100%;

width:70%;

background:#2563EB;

}