.sidebar{

width:280px;
min-width:280px;
height:100vh;

background:#0B1220;

border-right:1px solid #1E293B;

padding:28px 18px;

display:flex;
flex-direction:column;

}

.sidebar-logo{

display:flex;
align-items:center;
gap:18px;

margin-bottom:42px;

}

.logo-box{

width:58px;
height:58px;

border-radius:18px;

display:flex;
align-items:center;
justify-content:center;

background:linear-gradient(135deg,#2563EB,#3B82F6);

color:white;

box-shadow:0 12px 30px rgba(37,99,235,.35);

}

.sidebar-logo h2{

font-size:32px;

font-weight:800;

color:white;

margin:0;

}

.sidebar-logo p{

margin-top:4px;

font-size:14px;

color:#94A3B8;

}

.sidebar-group{

margin-bottom:30px;

}

.sidebar-title{

display:block;

margin-bottom:14px;

padding-left:10px;

font-size:12px;

font-weight:700;

letter-spacing:2px;

color:#64748B;

}

.sidebar-item{

display:flex;

align-items:center;

gap:16px;

height:56px;

padding:0 18px;

border-radius:16px;

cursor:pointer;

color:#CBD5E1;

font-size:17px;

font-weight:600;

transition:.25s;

}

.sidebar-item svg{

color:#94A3B8;

transition:.25s;

}

.sidebar-item:hover{

background:#172554;

color:white;

}

.sidebar-item:hover svg{

color:#60A5FA;

}

.sidebar-item.active{

background:linear-gradient(90deg,#2563EB,#3B82F6);

color:white;

box-shadow:0 10px 30px rgba(37,99,235,.25);

}

.sidebar-item.active svg{

color:white;

}

.sidebar-footer{

margin-top:auto;

display:flex;

flex-direction:column;

gap:8px;

}