@import "tailwindcss";

:root {

  --bg-primary:#0B1120;
  --bg-secondary:#111827;
  --bg-elevated:#1A2235;

  --primary:#3B82F6;
  --success:#22C55E;
  --warning:#F59E0B;
  --danger:#EF4444;

  --text-primary:#F8FAFC;
  --text-secondary:#CBD5E1;
  --text-muted:#94A3B8;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  font-family:Inter,sans-serif;
  background:var(--bg-primary);
  color:var(--text-primary);

}

button{

  cursor:pointer;

}