.contests-page{

padding:40px;

display:flex;

flex-direction:column;

gap:35px;

}


.contests-header h1{

font-size:48px;

color:white;

}


.contests-header p{

color:#94A3B8;

font-size:18px;

}


.contests-page section h2{

color:white;

margin-bottom:20px;

}


.contest-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}



@media(max-width:900px){

.contest-grid{

grid-template-columns:1fr;

}

}