.problem-table-container{

background:#111827;

border:1px solid #1e293b;

border-radius:18px;

overflow:hidden;

}



.problem-table{

width:100%;

border-collapse:collapse;

}



.problem-table th{

text-align:left;

padding:18px 22px;

font-size:14px;

color:#94A3B8;

border-bottom:1px solid #1e293b;

}



.problem-table td{

padding:22px;

border-bottom:1px solid #1e293b;

color:white;

}





.problem-link{

color:white;

font-weight:700;

text-decoration:none;

}



.problem-link:hover{

color:#3b82f6;

}





.difficulty{

padding:6px 14px;

border-radius:20px;

font-size:13px;

font-weight:700;

}



.difficulty.easy{

background:#166534;

color:#bbf7d0;

}



.difficulty.medium{

background:#854d0e;

color:#fef08a;

}



.difficulty.hard{

background:#991b1b;

color:#fecaca;

}





.tags-container{

display:flex;

gap:8px;

flex-wrap:wrap;

}



.tag{

background:#1e293b;

color:#93c5fd;

padding:6px 12px;

border-radius:14px;

font-size:13px;

}